<style type="text/css" media="screen">
  .invisible {
  display: none;
  color: green;
  font-style: italic;
  }
  .edit, .edit-select, .edit-select-bool, .edit-select-feature-type,.edit-int {
 color:blue;
  }
  dt a, dd a {
  margin-left: 15px;
  }
 
</style>

<h2> Product Type </h2>

This is a blank page

<%= link_to('New Product Type', new_product_type_path) %>

<!-- TODO: show all the product types perhaps? -->