<script>
  $(document).ready(function() {
      $("#new_product_type").validate({
        rules: {
            "product_type[name]": {required: true}
        }
    });
  });

</script>

<h1>New Product Type</h1>
<!-- is top_type necessary?? -->
<div id="top_type"></div>

<%= render 'form' %>

<%= link_to 'Cancel', product_types_path %>
