.DS_Store
log/
tmp/**/*
tmp/*
config/database.yml
.bundle
db/*.sqlite3
db/sphinx
.~lock*
*.o
config/*.sphinx.conf
public/system

webrat.log
deploy-to-staging.sh
lib/cluster_labeling/cc_boostexter_files
public/system
lib/.ruby_inline

lib/c_code/clusteringCodes/CMakeFiles
lib/c_code/clusteringCodes/Makefile
lib/c_code/clusteringCodes/cmake_install.cmake
lib/c_code/clusteringCodes/CMakeCache.txt

lib/c_code/clusteringCodes/cppconn/CMakeFiles
lib/c_code/clusteringCodes/cppconn/Makefile
lib/c_code/clusteringCodes/cppconn/cmake_install.cmake

lib/c_code/clusteringCodes/codes/Makefile
lib/c_code/clusteringCodes/codes/CMakeFiles
lib/c_code/clusteringCodes/codes/hCluster
lib/c_code/clusteringCodes/codes/cmake_install.cmake
lib/c_code/clusteringCodes/cppconn/libmysqlcppconn-static.a

mkmf.log
public/images/cameras

cache/*

lib/c_code/clusteringCodes/cppconn/libmysqlcppconn.dylib

*.pyc

TAGS

lib/helpers/fixClusters.sql
merge_staging.sh


