.DS_Store
log/
tmp/**/*
tmp/*
config/database.yml
config/sunspot.yml
.bundle
db/*.sqlite3
db/sphinx
.~lock*
*.o
config/*.sphinx.conf
public/system
.sass-cache
config/newrelic.yml

webrat.log
deploy-to-staging.sh
public/system
lib/.ruby_inline


cache/*
.sass-cache/
public/assets/

solr/data
solr/pids


mkmf.log
public/images/cameras

cache/*

lib/c_code/clusteringCodes/cppconn/libmysqlcppconn.dylib

*.pyc

TAGS

lib/helpers/fixClusters.sql
merge_staging.sh


