<script>
    $(document).ready(function() {
    $("#new_heading").validate({
    rules: {
    "heading[name]": {required: true},
    "heading[show_order]" : {required: true, digits: true}
    }
    });
    });
</script>
<h1><%= @heading.product_type.name %>: New Heading </h1>
<%= render 'form' %>
<%= link_to 'Back', product_types_path %>
