<script>
  $("#new_url").validate({
  debug: true,
  rules: {
  "url[url]": {required: true},
  "url[port]": {required: true, digits: true},
  "url[piwik]": {required: true, digits: true}
  }
  });
</script>
<h1><%= @purl.product_type.name %>: New Url </h1>
<%= render 'form' %>
<%= link_to 'Back', product_types_path %>
