<% unless locals.nil? %>
  <% category_name = locals[:category_name] %>
<% else %>
  
<% end %>
<div class="draggable_cats">
  <div class='cat_option' data-name='<%= category_name %>'>
    <div>
      <%= category_name %> <a class='remove_category' href="#">x</a>
    </div>  
  </div>
</div>