h2 {
    text-align:center;
}

#header {
    width: 100%;
    background: #b6c4c5;
    padding: 12px;
    margin: 0;
}

#content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.skus_to_fetch {
    -moz-border-radius: 8px 8px 8px 8px;
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 800px;
    margin: 5px;
}

a.title_link {
    text-decoration:none;
}

.featurehash li, a.title_link {
	color: #4F3333;
}

.featurehash li:hover, a.title_link:hover {
    color: #B50A05;
}

#rule_adder_div {
    position: absolute;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    background: #FFF;
    padding: 5px;
    -moz-border-radius: 8px;
    border: 1px solid black;
    top:100px;
    left: 0;
    right: 0;
}

.closed {
	background: url("/images/demo-spindown-closed.gif") no-repeat left center;
	padding-left: 13px;
}

.open {
	background: url("/images/demo-spindown-open.gif") no-repeat left center;
	padding-left: 13px;
}
.label {
	font-weight: bold;
}