<div class="featured">
	<div class="title">		
		<%= featured.cat_specs.find_by_name("title").try(:value)%>
		<br>
		<%= "SKU: #{featured.sku}" %>
	</div>
  <div class="product">
		<%= image_tag featured.cat_specs.find_by_name("img150url").value, :class => "productimg", title: "SKU:#{featured.sku}" %> 	
	</div>
  <div class="accessories">
    <div>Accessories:</div>
    <% acc = Hash[*featured.text_specs.find_by_name("top_copurchases",).try(:value).try(:split,"-")] %>
    <%= render partial: "accessory", collection: acc.keys.zip(acc.values) %>
  </div>
</div>