  <div style="position:relative; display:inline-block; width:150px; margin-top:3px;">
    <span class="num" style="background-color:#66FFFF"><%= temp.cont_specs.find_by_name("sum_store_sales").try(:value).to_i %></span>
  	<%= image_tag "http://www.bestbuy.ca/multimedia/Products/150x150/#{temp.sku[0..2]}/#{temp.sku[0..4]}/#{temp.sku}.jpg", class: "productimg", title: "Recommended", alt: "Accessory"%>
  	<div style="text-align:center;">
    	<%= temp.cat_specs.find_by_name("title").try(:value)%>
    	<br>
    	<%= temp.sku %>
  	</div>
  </div>