<!--<h1>Featured Cameras</h1> -->
<%= 
=begin
	render partial: "featured", collection: @products  
=end 
%>
<div style="font-family:arial">
<h2>Top Purchases</h2>
<%= render partial: "featured", collection: @topperformers %>
</div>