<div>
<h2>Best Selling Products<h2>
<%@topperformers.each_pair do |category,products|%>
  <h3 style="margin-left:20px"><%= t(category+".name") %></h3>
  <div>
    <%= debugger; render partial: "temp", collection: products%>
  </div>
<% end %>
</div>