<div style="font-family:arial">
<h2>Top Purchases</h2>
<h4 style="margin-left:20px;"><%= link_to "All Best-Selling Products", featured_index_path %></h4>
  <% cat_prods.each_pair do |category,products|%>
		<h4 style="margin-left:20px; margin-bottom:3px;"><%= t(category+".name") %></h4>
		<div class="category">
			<%= render partial: "featured", collection: products %>
		</div>
<% end %>
</div>
