<h3>Create New Rule</h3>
<% if @raw %>
<h4>For key/value pair:</h4>
<div id="rule_creation_key_value_display">
    <%= @scraping_rule.remote_featurename %> : <%= @raw %>
</div>
<% end %>
<%= render 'form' %>