<h3>Create New Rule</h3>
<% if @raw %>
<h4>For key/value pair:</h4>
<div id="rule_creation_key_value_display">
    <%= @scraping_rule.remote_featurename %> : <%= @raw %>
</div>
<% end %>
<%= form_for [Session.product_type, @scraping_rule], :url => new_product_type_scraping_rule_path, :remote => true, :html => { :class => "edit_scraping_rule" } do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
<% end %>