<!-- Tree pop-up -->
<% top_category = "Departments" %>
<div id="tree_categories" class="tree">
 	<ul>
 	  <% nodes = BestBuyApi.get_subcategories(top_category) -%>
 	  <% root = nodes.keys.first -%>
 	  <% children = nodes.values.first -%>
 	  <% category_id = root.keys.first -%>
 	  <% category_name = root.values.first -%>
 		<li id="<%= category_name %>" class="jstree-closed">
 			<a href="#"><%= category_id %> <%= category_name %></a>
 			<% unless category_id == top_category %>
   		<!-- <input type="checkbox" class="category_selection"/> -->
 			<% end %>
 		</li>
 	</ul>
 </div>