<div class="contentholder">
	<a href="#" class="togglable closed title_link">
		Remote Feature: <span class="bold"><%= rf %></span>
	</a>
	<%= render :partial => 'rules_features', :collection => data.products.zip(data.rules), :locals => {:rf => rf, :pc => pc} %>
</div>
