<div id="header">
    <h2>Rules for SKUs in category id <%=@category_id%></h2>
</div>
<div id="content">
<div class="strong" id="num_skus_found">
    Total of <%=@product_count%> SKUs found
</div>
<% @rules.each do |r| %>
    <div>
        Rule
    </div>
<% end %>
</div>
