<script>
  $(document).ready(function() {
  $("#new_feature").validate({
  rules: {
  "feature[name]": {required: true},
  "feature[min]": {required: true, digits: true},
  "feature[max]": {required: true, digits: true},
  "feature[utility_weight]": {required: true, digits: true},
  "feature[cluster_weight]": {required: true, digits: true}
  }
  });
  });
</script>
<h1><%= @feature.heading.name+'@'+@feature.heading.product_type.name %>: New Feature </h1>
<%= render 'form' %>
<%= link_to 'Back', product_types_path %>
