<div style="font-family:arial">
<h2>Recommended Accessories</h2>
  <h4 style="text-align:center; margin-top:40px;">Enter a product Id</h4>
  <div style="text-align:center;"> <%= text_field_tag :sku_search, "", class: "sku_search" %>
      <button id="enter_sku_search">Enter</button>

    <h4 style="text-align:center; margin-top:50px;" >Examples</h4>
    <button id="ipad_search">iPad</button>
    <button id="blackberry_search">Blackberry</button>
    <button id="dslr_search">DSLR</button>
  </div>
</div>
