<div style="font-family:arial">
<h2>Recommended Accessories</h2>
  <h4 style="text-align:center; margin-top:40px;">Enter a product Id</h4>
  <div style="text-align:center;"> <%= text_field_tag :sku_search, "", class: "sku_search" %>
      <span id="enter_sku_search" class="btn">Enter</span>

    <h4 style="text-align:center; margin-top:50px;" >Examples</h4>
    <span id="ipad_search" class="btn">iPad</span>
    <span id="blackberry_search" class="btn">Blackberry</span>
    <span id="dslr_search" class="btn">DSLR</span>
  </div>
</div>
