<div style="position:relative; display:inline-block; height: 95px; margin-top:3px;">
  <span class="num"><%= accessory.count %></span>
  <% # require "open-uri"
		#  begin
		# 	open("http://www.bestbuy.ca/multimedia/Products/150x150/#{accessory.first[0..2]}/#{accessory.first[0..4]}/#{accessory.first}.jpg")
		#  rescue OpenURI::HTTPError
		#  	image_url =  "http://www.y-hhh.com.cn/yashige%20en/haitian/pic/NO_PIC.jpg" 
		#  else
		#  	image_url = "http://www.bestbuy.ca/multimedia/Products/150x150/#{accessory.first[0..2]}/#{accessory.first[0..4]}/#{accessory.first}.jpg"
		#  end
		  #sku = get_sku(accessory.value)
		%>
	<%= image_tag accessory.img_url, class: "productimg", title: "Recommended", alt: "Accessory" %>
	<div class="sku"><%= accessory.sku %></div>
</div>